[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
pydantic = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
google-cloud-bigquery-storage = "*"
dlt = {extras = ["bigquery"], version = "*"}
dbt-core = "*"
dbt-bigquery = "*"
prefect-dbt = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.13"
